/* STAR SELECTOR */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
}


/* css header */

header{
    height: 70px;
    line-height: 2;
    margin-bottom: 50px;
    padding-left: 10px;
    background-color: white;
}

.center{
    vertical-align: middle;
}

.title{
    display: inline-block;
}


/* css main  */

main{
    padding: 40px;
}

.container{
    width: 1200px;
    margin: auto;
    border-radius: 5px;
    background-color: white;
}

.botton{
    display: inline-block;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;    
    text-align: center;
    font-weight: bold;
}

.blue{
    width: 110px;
    margin-left: 30px;
    background-color: rgb(35, 149, 255);
    color: white;           
}

.gray{
    width: 120px;
    color: rgb(142, 141, 141);
    border: 1px solid;
}

hr{
    width: 100%;
    margin-top: 20px;
}


/* css main list */

.list{
    padding: 50px;
}

ul{
    padding: 20px;
}

li{
    padding: 5px;
}

